.header {
    background: linear-gradient( rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    background-size: cover;
    height: 40vh;
}

h1 {
    color: white;
    position: absolute;
    top: 30%;
    margin-left: 20%;
}

h3 {
    color: red;
    position: absolute;
    top: 45%;
    margin-left: 9%;
}

