.header {
    background: linear-gradient( rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    background-image: url(https://delice-pizzas.fr/img/02.png);
    background-size: cover;
}

.titulo, .subtitulo {
    color: white;
}

